body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

#hero {
  text-align: center;
  padding: 2rem;
  background-color: #cae9e6;
  margin-bottom: 2rem;
}

#hero h1 {
  margin-bottom: 1rem;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  padding: 2rem;
}

.activity {
  flex: 1 1 300px; /* Flexbox properties for each activity item */
  background-color: #fff;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px; /* Maximum width for individual activity item */
}

.activity img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.activity h3 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.activity p {
  color: #666;
  font-size: 1rem;
  line-height: 1.6;
}

/* Styles for Photos */
.photos {
  text-align: center;
  padding: 2rem;
}

.photos h2 {
  margin-bottom: 2rem;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.photo {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.photo img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.photo h3 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.photo p {
  color: #666;
  font-size: 1rem;
  line-height: 1.6;
}
